[Unit]
Description=Kortexa TTS Server
Wants=nvidia-persistenced.service
After=network.target nvidia-persistenced.service

StartLimitIntervalSec=120
StartLimitBurst=3

[Service]
Type=simple

User=francip
Group=francip

WorkingDirectory=/home/francip/src/tts.server

Environment=PATH=/home/francip/.local/bin:/home/francip/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH=/home/francip/src/tts.server
Environment=CUDA_VISIBLE_DEVICES=GPU-afb49bc6-cd89-6584-99cc-a0f03592a010

ExecStartPre=/usr/bin/nvidia-smi --id=GPU-afb49bc6-cd89-6584-99cc-a0f03592a010 --query-gpu=uuid --format=csv,noheader
ExecStart=/home/francip/src/tts.server/run.sh

Restart=always
RestartSec=15

TimeoutStopSec=60

ProtectSystem=full
ProtectHome=read-only
ReadWritePaths=/home/francip/src/tts.server /home/francip/.cache /home/francip/.config /home/francip/data
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
